
.header__lang-link a {
  text-decoration: none;
  color: white;
  padding: 0 12px 6px 0;
  margin-top: 18px;
  box-sizing: border-box;
}

.header__lang-link:hover a {
  text-decoration: underline;
  transition-duration: 1s;
  opacity: 0.5;
}

.header__lang-link:last-child a {
  padding-right: 0;
}