
.header__lang-link a {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 18px 0 0 0;
  box-sizing: border-box;
  cursor: pointer;
}

.header__lang-link:hover a {
  transition-duration: 1s;
  opacity: 0.5;
}

/* .header__lang-link a:active,
.header__lang-link a:focus {
  text-decoration: underline;
} */

.header__lang-link:first-child a {
  padding-right: 12px;
}