.place__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: left;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1000px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .place__title {
    max-width: 300px;
    font-size: 32px;
    line-height: 35px;
    white-space: normal;
    order: 1;
    padding: 0 16px;
  }
}