
.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 18px 0 0 0;
  padding-right: 0px;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

@media screen and (max-width: 460px) {
  .header__links{
    line-height: 20px;
    font-size: 18px;
    }
  }