.footer__columns {
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 92.5%;
}

@media screen and (max-width: 800px) {
  .footer__columns {
      width: 100%;
      padding: 88px 24px 0;
  }
}

@media screen and (max-width: 400px) {
  .footer__columns {
      flex-direction: column;
      padding: 64px 16px 24px;
  }
}
