.place__content {
  grid-area: content;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .place__content {
    order: 4;
    margin-top: 10px;
    padding: 0 16px;
    display: flex;
    flex-direction: column; 
  }
}