
.lead {
  padding: 56px 148px 0;
  margin: 0;
  box-sizing: border-box;
  }

  @media screen and (max-width: 1184px) {
    .lead {
      padding: 48px 48px 0;
    }
  }

  @media screen and (max-width: 1000px) {
    .lead {
      padding: 48px 0 0;

    }
  }
