
.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 30.4%;
}

@media screen and (max-width: 1184px) {
    .cover__subtitle {
    max-width: 35.15%;
}
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
    max-width: 35.15%;
}
}

/* @media screen and (max-width: 900px) {
    .cover__subtitle {
     padding: 0 16px;
     font-size: 14px;
     line-height: 16px;
     max-width: 46.9%
    }  
} */

@media screen and (max-width: 900px) {
    .cover__subtitle {
     padding: 0;
     font-size: 18px;
     line-height: 22px;
     max-width: 46.9%;
    }  
}

@media screen and (max-width: 460px) {
    .cover__subtitle {
     max-width: 90%;
    }  
}

