
.photo-grid__item {
  max-width: 352px;
  max-width: 420px;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-sizing: border-box;
}

@media screen and (max-width: 1271px) {
  .photo-grid__item {
    min-width: 300px;
    min-height: 225px;
  }
}

@media screen and (max-width: 660px) {
  .photo-grid__item {
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px) {
  .photo-grid__item {
    min-width: 288px;
    min-height: 216px;
    /* margin: 0 16px; */
  }
}
