.header {
  max-width: 1280px;
  background-color: #2a2c2f;
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0 48px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 16px 16px 0;
  }
}
