
.intro {
  max-width: 690px;
  padding: 92px 0 0 148px;
  margin: 0;
}

@media screen and (max-width: 1184px) {
  .intro {
    padding: 92px 0 0 48px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    padding: 92px 24px 0;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    padding: 64px 16px 0;
  }
}
