.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 64px;
  max-width: 65.05%;
}

@media screen and (max-width: 1184px) {
  .lead__subtitle {
    padding: 0 0 56px;
    max-width: 58.8%;
  }
}

@media screen and (max-width: 800px) {
  .lead__subtitle {
    max-width: 83.3%;
  }
}

@media screen and (max-width: 400px) {
  .lead__subtitle {
    padding-bottom: 40px;
    margin: 0 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
