.cover__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0 0 32px 0;
  max-width: 560px;
  text-align: center;
  padding: 245px 0 0 0;
  /* white-space: pre-line; */
}

@media screen and (max-width: 1184px) {
  .cover__title {
    padding: 195px 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    padding: 115px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    padding: 33px 16px 0 16px;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 16px;
    max-width: 75%;
  }
}

@media screen and (max-width: 690px) {
  .cover__title {
    font-size: 69px;
    line-height: 64px;
  }
}

@media screen and (max-width: 500px) {
  .cover__title {
    padding: 33px 16px 0 16px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px;
  }
}
