
.place {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, auto);
  padding: 0;
  margin: 0 0 80px 0;
  row-gap: 48px;
  column-gap: 40px;
  box-sizing: border-box;
  grid-template-areas:
    "title website"
    "image content";
}

@media screen and (max-width: 1184px) {
  .place {
    column-gap: 32px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 800px) {
  .place {
    column-gap: 28px;
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 630px) {
  .place {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    column-gap: 5px;
    row-gap: 25px;
  }
}

@media screen and (max-width: 400px) {
  .place {
margin: 0;
padding: 0;
  }
}