.place__website {
  align-self: end;
  grid-area: website;
  max-width: 456px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 630px) {
  .place__website {
    align-self: start;
  }
}

@media screen and (max-width: 400px) {
  .place__website {
    display: flex;
    flex-direction: column;
    order: 2;
    padding: 0 16px;
  }
}