.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  text-align: left;
  max-width: 720px;
  padding: 0 0 40px;
  margin: 0;
}

@media screen and (max-width: 400px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 80%;
  }
}